.gallery_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--blue);
  text-transform: uppercase;
  font-style: italic;
}
.gallery_grid {
  width: 100%;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(1fr);
  place-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 2rem;
  background-color: whitesmoke;
}
.zoom {
  width: 100%;
  height: 100%;
}
.zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .gallery_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .gallery_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
