:root {
  --white: #ffffff;
  --black: #000;
  --gold: #b0852f;
  --blue: #1f346b;
}
* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}
html,
body {
  overflow-x: hidden;
  padding-top: 95px;
  /*  fixed navbar problems*/
  /*  removing white space on mobile from the right side */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
}
