.capacity_container {
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}
.title_wrapper {
  text-align: center;
}
.title {
  font-size: 3rem;
  color: var(--gold);
  font-weight: 800;
  text-transform: uppercase;
}
.content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.pro {
  margin: 1rem 3rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.content .num {
  color: var(--blue);
  font-size: 2rem;
}
.content .desc {
  color: var(--blue);
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .title {
    font-size: 5rem;
  }
}
@media (min-width: 900px) {
  .pro {
    margin: 1rem 6rem;
  }
  .content .num {
    font-size: 3rem;
  }
}
