.hero_container {
  max-width: 100%;
  height: 100vh;
}
video {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
.arrow__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.arrow {
  color: var(--gold);
  border: 1px solid var(--gold);
  border-radius: 100%;
  cursor: pointer;
}
